#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.Ptamano {
  width: 13%;  
  margin-top: 15px;
  text-align: center; 
}

.Pforma {
  margin-top: 7%;
  margin-bottom: 7%;
  color: black;
  font-size: large;  
}

.tamano {
  width: 13%;  
  margin-top: 15px;
  text-align: left; 
}

.forma { 
  height: 80%;
  color: black;
  font-size: large;  
}

.peque {
  font-size: xx-small;
}
.imga {
  background-color: black;
}

.si {
  background-color: blueviolet;  
}
.ssi {
  color: white;
}

img {
  height: 20px;
}

.verde {
  color: aqua;
}