<ion-header class="imga" [translucent]="true">
  <img src="./../../assets/img/saint seiya.png" alt=""> 
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-row>  
    <!-- Plano -->      
        <ion-col size="4"  class="Ptamano" *ngFor="let ficha of fichas">
          <ion-card [ngClass]="{si: ficha.cantidad>0}" (click)="mostrarEditarModals(ficha)">            
            <ion-card-header class="Pforma">
             <span [ngClass]="{ssi: ficha.cantidad>0}">{{ficha.name}}</span><span  [ngClass]="{ssi: ficha.cantidad>0}" class="peque">x{{ficha.cantidad}}</span>
            </ion-card-header>
           </ion-card>  
        </ion-col>
      
    <!-- Fin Plano -->    
  </ion-row>  

  <ion-list></ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando fichas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
